header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 70px;
  border: 5px solid #fff;
  border-radius: 25px;
  padding: 10px;
  width: 35%;
}

section {
  display: flex;
  justify-content: center;
}

.team {
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: 5px solid #ffc107;
  width: 280px;
  box-shadow: 10px 10px 16px -10px #333;
}

.team h2 {
  font-size: 40px;
  font-family: "Martian Mono", monospace;
  background-color: #ffc107;
  color: #fff;
  margin: -1px;
}

.team p {
  color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 25px;
  margin: 5px;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  padding-left: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

img {
  margin: 0;
  padding-bottom: 6px;
  padding-left: 3px;
  padding-right: 3px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(112deg)
    brightness(99%) contrast(103%);
}
